<!-- Modal Thống kê Ca -->
<div class="modal fade" id="thongKeCaModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content tk-modal">

      <!-- Header -->
      <div class="modal-header tk-header">
        <h5 class="modal-title">
          <i class="fa-solid fa-chart-column me-2"></i>
          Thống kê thời gian làm việc theo ca
        </h5>
        <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Bộ lọc tháng/năm -->
        <div class="d-flex align-items-center gap-4 mb-4">
          
          <div>
            <label class="tk-label">Tháng:</label>
            <select class="form-select tk-select" id="tkThang">
              <option value="">-- Chọn tháng --</option>
              <script>
                for (let i = 1; i <= 12; i++) {
                    document.write(`<option value="${i}">${i}</option>`);
                }
              </script>
            </select>
          </div>

          <div>
            <label class="tk-label">Năm:</label>
            <input type="number" class="form-control tk-select" id="tkNam" placeholder="2025">
          </div>

            <button class="btn tk-btn-filter" id="btnLocThongKeCa">
                <i class="fa-solid fa-filter me-1"></i> Lọc
            </button>

          <button class="btn tk-btn-export" id = "btnExportThongKeCa">
            <i class="fa-solid fa-file-export me-1"></i> Xuất file
          </button>

        </div>


        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-bordered tk-table align-middle">
            <thead>
              <tr>
                <th>Ngày</th>
                <th>BĐ Ca sáng</th>
                <th>KT Ca sáng</th>
                <th>TG ca sáng</th>
                <th>BĐ Ca chiều</th>
                <th>KT Ca Chiều</th>
                <th>TG Ca Chiều</th>
                <th>BĐ Ca Tối</th>
                <th>KT Ca Tối</th>
                <th>TG Ca Tối</th>
              </tr>
            </thead>

            <tbody></tbody>


          </table>
        </div>

      </div>
    </div>
  </div>
</div>
